
body {
  margin: 0 auto;
  font-family: Montserrat;
  background-color: var(--bg-color);
--text-color:#373737;
--bg-color: #fff;
--btn-color: #ff0000;

}
body.dark {
  margin: 0 auto;
  font-family: Montserrat;
  background-color: var(--bg-color);
--text-color:#fff;
--bg-color:#373737 ;
--btn-color: #5f9440cc;

}

a {
  text-decoration: none;
  
}
.page-title {
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 49px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 27px;
}

p {
  text-align: center;
  color: var(--text-color);
  font-size: 16px;
  line-height: 26px;
  width: 1145px;
  margin: 28px auto;
}

.picture {
  display: block;
  margin: auto;
}

.btn {
  background: var(--btn-color);
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
  padding: 18px 43px;
  font-weight: bold;
  border-radius: 4px;
  cursor:pointer;
}
.footer {
  padding-top: 82px;
  float: right;
  font-weight: bold;
  color: var(--text-color);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 29px;
}

.menu-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.menu-header-link {
  color: var(--btn-color);
  font-size: 18px;
  line-height: 18px;
}
.menu-header-item {
  display: inline-block;
  margin-right: 70px;
}
.btn-center {
  text-align: center;
  padding-top: 66px;
}
